<%- include("templates/header",{titulopag:'Clientes'})%>
<DIV class="table-data">
    <h2>Mostrando información de la tabla Usuarios de la base de datos AdminSystemDB</h2>
    <table border="1" style="width: 100%; margin:auto;">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
        </tr>

        <%
        if(datosConsulta.length != 0){
            datosConsulta.forEach(function(data){
        %>
                <tr>
                    <td><%=data.id_t%></td>
                    <td><%=data.nombre_t%></td>
                    <td><%=data.apepat_t%></td>
                    <td><%=data.apemat_t%></td>            
                </tr>        
        <%  });
        }
        else{ %>
            <tr>
                <td colspan="7">No se encontró información</td>
            </tr>
        <%}%>
    </table>
</DIV>
<%- include("templates/footer")%>