<%- include("templates/header",{titulopag:'Destinos'})%>
<DIV class="table-data">
    <br><br>
    <h2>Mostrando informaci贸n de la tabla <%= titulopag%> de la base de datos AdminSystemDB</h2>
    <br><br>
    <table class="table table-striped table-bordered" style="width: 100%; margin:auto;">
        <tr>
            <th>ID</th>
            <th>Direcci贸n de Destino</th>
        </tr>

        <%
        if(datosConsulta.length != 0){
            datosConsulta.forEach(function(data){
        %>
                <tr>
                    <td><%=data.id_d%></td>
                    <td><%=data.dir_destino%></td>
                </tr>        
        <%  });
        }
        else{ %>
            <tr>
                <td colspan="7">No se encontr贸 informaci贸n</td>
            </tr>
        <%}%>
    </table>
</DIV>
<%- include("templates/footer")%>